<?xml version="1.0" encoding="UTF-8"?>
<!--
#Autor: Robson Vaamonde
#Procedimentos em TI: http://procedimentosemti.com.br
#Bora para Prática: http://boraparapratica.com.br
#Robson Vaamonde: http://vaamonde.com.br
#Facebook Procedimentos em TI: https://www.facebook.com/ProcedimentosEmTi
#Facebook Bora para Prática: https://www.facebook.com/BoraParaPratica
#Instagram Procedimentos em TI: https://www.instagram.com/procedimentoem
#YouTUBE Bora Para Prática: https://www.youtube.com/boraparapratica
#LinkedIn Robson Vaamonde: https://www.linkedin.com/in/robson-vaamonde-0b029028/
#Data de criação: 19/01/2023
#Data de atualização: 19/11/2023
#Versão: 0.03
-->
<!-- O conteúdo deste arquivo será carregado para cada aplicação web -->
<Context antiResourceLocking="false" privileged="true" >

    <!-- Conjunto padrão de recursos monitorados. Se uma dessas mudanças, o    -->
    <!-- aplicativo da web será recarregado.                                   -->
    <WatchedResource>WEB-INF/web.xml</WatchedResource>
    <WatchedResource>WEB-INF/tomcat-web.xml</WatchedResource>
    <WatchedResource>${catalina.base}/conf/web.xml</WatchedResource>

    <!-- Remova o comentário para permitir a persistência da sessão nas reinicializações do Tomcat -->
    <!--
    <Manager pathname="SESSIONS.ser" />
    -->
  <CookieProcessor className="org.apache.tomcat.util.http.Rfc6265CookieProcessor"
                   sameSiteCookies="strict" />
  <!-- Configuração da Classe de Acesso remoto do Servidor Apache Tomcat -->
  <Valve className="org.apache.catalina.valves.RemoteAddrValve"
		 allow="127\.\d+\.\d+\.\d+|::1|0:0:0:0:0:0:0:1|10\.\d+\.\d+\.\d+|172\.\d+\.\d+\.\d+|192\.\d+\.\d+\.\d+" />
  <Manager sessionAttributeValueClassNameFilter="java\.lang\.(?:Boolean|Integer|Long|Number|String)|org\.apache\.catalina\.filters\.CsrfPreventionFilter\$LruCache(?:\$1)?|java\.util\.(?:Linked)?HashMap"/>
</Context>
