# Autor: Robson Vaamonde
# Site: www.procedimentosemti.com.br
# Facebook: facebook.com/ProcedimentosEmTI
# Facebook: facebook.com/BoraParaPratica
# YouTube: youtube.com/BoraParaPratica
# Linkedin: https://www.linkedin.com/in/robson-vaamonde-0b029028/
# Instagram: https://www.instagram.com/procedimentoem/?hl=pt-br
# Data de criação: 04/02/2022
# Data de atualização: 10/01/2026
# Versão: 0.07
# Testado e homologado para a versão do Ubuntu Server 22.04.x LTS x64x
# Testado e homologado para a versão do Prometheus 3.9.x e Node Exporter 1.10.x
#
# Configurações Globais do Prometheus
global:
  # Intervalo de coleta dos dados
  scrape_interval: 15s
  # Intervalo para o Prometheus avaliar as regras de alerta
  evaluation_interval: 15s
  # Intervalo de Timeout das coletas de dados
  scrape_timeout: 10s
  # Configuração dos rótulos externos
  external_labels:
    monitor: "prometheus-wsvaamonde"
    ambiente: "laboratorio"
#
# Configuração do Sistema de Gerenciamento de Alertas do Prometheus
alerting:
  alertmanagers:
    - static_configs:
        - targets:
          # - alertmanager:9093
#
# Configuração do Carregamento das Regras Periódicas do Prometheus 
rule_files:
  - "/etc/prometheus/rules/*.yml"
#
# Configuração do suporte ao TLS/SSL HTTPS do Prometheus
#tls_server_config:
#  cert_file: /etc/ssl/newcerts/prometheus.crt
#  key_file: /etc/ssl/private/prometheus.key
#
# Inicio das definições das configurações de coleta de métricas do Prometheus
#
# Configurações do Serviço do Prometheus (alterado a Porta para 9091 para não entrar
# em conflito com o serviço do OpenFire, porta padrão do Prometheus é a 9090)
scrape_configs:
#
# Configuração do File Service Discovery do Prometheus
  - job_name: "prometheus-fsd"
    file_sd_configs:
    #Configuração do diretório de descobertas do Prometheus
    - files:
        - "/etc/prometheus/targets/*.yml"
      #Tempo de atualização do intervalo de descoberta do Prometheus
      refresh_interval: 1m
#
# Nome do serviço que o Prometheus vai monitorar
  - job_name: "prometheus-srv"
    # Inicio da definição das configurações estáticas
    static_configs:
      # Endereço, Porta e Rótulos do alvo monitorado
      - targets: ["172.16.1.20:9091"]
        labels:
          servico: "prometheus"
          sistema: "linux"
#
# Configurações dos Serviços de Monitoramento de Métricas do Prometheus utilizando
# o recurso de Exportação do Node Remoto para sistemas operacionais Linux e Windows
  - job_name: "wsvaamonde"
    static_configs:
      - targets: ["172.16.1.20:9100"]
        labels:
          host: "wsvaamonde"
          sistema: "linux"
          funcao: "servidor"
#
# - job_name: "linuxmint213"
#   static_configs:
#     - targets: ["172.16.1.:9100"]
#       labels:
#         host: "linuxmint213"
#         sistema: "linux"
#         funcao: "desktop"
#
# - job_name: "windows10"
#   static_configs:
#     - targets: ["172.16.1.:9182"]
#       labels:
#         host: "linuxmint213"
#         sistema: "windows"
#         funcao: "desktop"